*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    padding: 20px;
    display: inline-block;
}
.row{
    display: flex;
    gap: 10px;
}

#display{
    background-color: black;
    color: white;
    font-size: 54px;
    width: 330px;
    border: none;
    margin-top: 10px;
}

.btn{
    width: 75px;
    height: 75px;
    margin-top: 10px;
    font-size: 32px;
    border-radius: 50%;
    background-color: rgb(52, 52, 52);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}